[submodule "Cameron"]
	path = Cameron
	url = https://github.com/nordancm/CryptoCode.git
[submodule "Nathan"]
	path = Nathan
	url = https://github.com/nathanph/Cryptocurrency
[submodule "Nicole"]
	path = Nicole
	url = https://github.com/loewna/BitcoinResearch.git
